/* CSS для навигационнога меню  */
nav{
    position: absolute;
    width: 1440px;
    height: 100px;
}
.catalog{
    position: absolute;
    width: 66px;
    height: 20px;
    left: 120px;
    top: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    text-align: center;
    color: #AE7C78;
    text-decoration: none;

}
.delivery_and_paid {
    position: absolute;
    width: 154px;
    height: 20px;
    left: 306px;
    top: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    text-align: center;
    color: #AE7C78;
    text-decoration: none;
}
.reviews{
    position: absolute;
    width: 65px;
    height: 20px;
    left: 580px;
    top: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    text-align: center;
    color: #AE7C78;
    text-decoration: none;
}
.special_offers{
    position: absolute;
    width: 160px;
    height: 20px;
    left: 765px;
    top: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    text-align: center;
    color: #AE7C78;
    text-decoration: none;
}
.contacts {
    position: absolute;
    width: 78px;
    height: 20px;
    left: 1045px;
    top: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    text-align: center;
    color: #AE7C78;
    text-decoration: none;
}
.basket{
    position: absolute;
    width: 72px;
    height: 20px;
    left: 1243px;
    top: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    text-align: center;
    color: #AE7C78;
    text-decoration: none;
}
.top_line {
    position: absolute;
    width: 1440px;
    height: 0;
    left: 0;
    top: 26px;
    border: 1px solid #AE7C78;
}
.bottom_line{
    position: absolute;
    width: 1440px;
    height: 0;
    left: 0;
    top: 90px;
    border: 1px solid #AE7C78;
         }
/* CSS для  мейна*/
/* СSS для букета*/
.bouquets{
    position: absolute;
    width: 384px;
    height: 118px;
    left: 120px;
    top: 171px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 59px;
    color: #AE7C78;
}
.view_catalog{
    position: absolute;
    width: 146px;
    height: 20px;
    left: 200px;
    top: 465px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: #FFFFFF;
    text-decoration: none;
}
.button1{
    position: absolute;
    width: 285px;
    height: 80px;
    left: 120px;
    top: 435px;
    background: #D89999;;
    border-radius: 40px;
}
.picture_one{
    position: absolute;
    width: 698px;
    height: 420px;
    left: 622px;
    top: 172px;
    background: url(picture_one.png);
    border-radius: 10px;
}
.original{
    position: absolute;
    width: 384px;
    height: 58px;
    left: 120px;
    top: 313px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #AE7C78;
}
/* CSS для SVG и подписей к ним*/
for_svg{
    position:relative;
    width: 1200px;
    height: 108px;
    top:680px;
    left:120px;
}
.truck{
    position: absolute;
    width: 82px;
    height: 52px;
    top: 15px;
}
.fast_delivery{
    position: absolute;
    width: 285px;
    height: 40px;
    left: 102px;
    top: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #AE7C78;
}
.can{
    position: absolute;
    width: 285px;
    height: 40px;
    top:37px;
    left: 102px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #AE7C78;
}
.bouquets_svg{
    position: absolute;
    top: 20px;
    width: 52px;
    height: 52px;
    left:445.06px;
}
.flowers{
    position: absolute;
    width: 182px;
    height: 20px;
    left: 510px;
    top: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: #AE7C78;
}
.careful{
    position: absolute;
    width: 285px;
    height: 80px;
    top:28px;
    left: 508px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #AE7C78;
}
.photo{
    position: absolute;
    top:20px;
    left: 836px;
    width: 58.6px;
    height: 52px;
}
.give{
    position: absolute;
    width: 213px;
    height: 20px;
    left:915px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: #AE7C78;
}
.before{
    position: absolute;
    width: 285px;
    height: 60px;
    left: 915px;
    top:28px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #AE7C78;
}
/* CSS для популярного букета*/
.popular_bouquetss{
    position: absolute;
    width: 794px;
    height: 522px;
    left: 323px;
    top: 870px;
}
.popular{
    position: absolute;
    width: 371px;
    height: 48px;
    left: 540px;
    top: 870px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    /* identical to box height */
    letter-spacing: 0.02em;
    color: #AE7C78;
}
.text{
    position: absolute;
    width: 228px;
    height: 29px;
    left: 323px;
    top: 981px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #AE7C78;
}
.main_text{
    position: absolute;
    width: 387px;
    height: 40px;
    left: 323px;
    top: 1030px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #AE7C78;
}
.price{
    position: absolute;
    width: 118px;
    height: 29px;
    left: 324px;
    top: 1125px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #AE7C78;
}
.button2{
    position: absolute;
    width: 285px;
    height: 80px;
    left: 324px;
    top: 1231px;
    background: #D89999;
    border-radius: 40px;
}
.order{
    position: absolute;
    width: 73px;
    height: 20px;
    left: 435px;
    top: 1261px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
.picture3{
    position: absolute;
    width: 387px;
    height: 438px;
    left: 730px;
    top: 954px;
    background: url(picture_3.png)
}
/*CSS для скидок */
.discountss{
    position: absolute;
    width: 1200px;
    height: 391px;
    left: 87px;
    top: 1486px;
    background: #AE7C78;
}
.discounts10{
    position: absolute;
    width: 488px;
    height: 118px;
    left: 189px;
    top: 1526px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 59px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.comment{
    position: absolute;
    width: 387px;
    height: 145px;
    left: 189px;
    top: 1668px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;

}
.picture2{
    position: absolute;
    width: 590px;
    height: 391px;
    left: 697px;
    top: 1486px;
    background: url(picture_2.png);
    border-radius: 0px;
}
/*СSS для отзывовов*/
.main_reviews{
    position: absolute;
    width: 1200px;
    height: 308px;
    left: 90px;
    top: 1970px;
    border: 1px solid #AE7C78;
}
.reviews_main{
    position: absolute;
    width: 152px;
    height: 48px;
    left: 614px;
    top: 1980px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.02em;
    color: #AE7C78;

}
.first_review{
    position: absolute;
    width: 300px;
    height: 80px;
    left: 134px;
    top: 2079px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #AE7C78;
}
.second_review{
    position: absolute;
    width: 300px;
    height: 80px;
    left: 540px;
    top: 2079px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #AE7C78;
}
.thrid_review{
    position: absolute;
    width: 300px;
    height: 80px;
    left: 946px;
    top: 2079px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color:  #AE7C78;
}

/* CSS для футера*/
.footer{
    position: absolute;
    width: 1440px;
    height: 97px;
    left: 0px;
    top: 2350.22px;
    background: #AE7C78;
}
.catalog_footer{
    position: absolute;
    width: 66px;
    height: 20px;
    left: 306px;
    top: 2390px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}
.delivery_and_paid_footer{
    position: absolute;
    width: 154px;
    height: 20px;
    left: 440px;
    top: 2390px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: #FFFFFF;
    text-decoration: none;
}
.reviews_footer{
    position: absolute;
    width: 65px;
    height: 20px;
    left: 662px;
    top: 2390px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}
.special_offers_footer{
    position: absolute;
    width: 160px;
    height: 20px;
    left: 795px;
    top: 2390px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}
.contacts_footer{
    position: absolute;
    width: 78px;
    height: 20px;
    left: 1023px;
    top: 2390px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}


