body{
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url("тоторо.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
}
.buttons{
    width: 100%;
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
    align-items: flex-start;
}
input{
    height: 20px;
}
.create_table{
    width: 100%;
    background: white;
    padding-right: 40%;
    border: none;
}
.add_row{
    width: 100%;
    background: blue;
    padding-right: 40%;
    border: none;
}
form{
    width: 100%;
    display: flex;
    flex-direction: row;

}
.delete_row{
    width: 100%;
    background: red;
    border: none;
}
.write_number{
    background: crimson;
    width: 100%;
    text-align: center;
    padding: 0;
    border: none;
}
.table{
    width: 100%;
    margin-top: 20px;
    background-color: crimson;
}
table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
td, th {
    border: dashed 1px white ;
    text-align: center;
}
